.nav-link {
  position: relative;
  transition: 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #fff !important;
  font-weight: bold;
}
